<!DOCTYPE html>
<html lang="pt">
{% load static %}
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>
      {% block title %}Sistema de Gerenciamento de Bases{% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" type="image/png">

    <!-- Arquivos CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'gestorbases/assets/stylesheets/vendors.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gestorbases/assets/stylesheets/algaworks.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gestorbases/assets/stylesheets/application.css' %}">

	 <!-- Bloco de Estilos -->
    {% block styles %}{% endblock %}
</head>

<body>
	<!-- Navbar -->
	<div class="aw-layout-loading  js-loading-overlay">
		<div class="aw-layout-loading__container">
			<span class="aw-balls-spinner">Carregando...</span>
		</div>
	</div>

	<div class="aw-layout-page">

		<nav class="navbar  navbar-fixed-top  navbar-default js-sticky-reference" id="main-navbar">
		  <div class="container-fluid">

		    <div class="navbar-header">
		      <a class="navbar-brand  hidden-xs" href="{% url 'gestorbases:dashboard' %}">
		        <i class="fa fa-database"></i>
		        <strong>ODP GOIÁS</strong>
		         <!-- Trocar por uma logo -->
		      </a>

		      <ul class="nav  navbar-nav">
		        <li>
		          <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
		        </li>
		      </ul>
		    </div>

		    <ul class="nav navbar-nav  navbar-right">
		    <!--
		      <li>
		        <a href="#" class="js-search-modal-trigger-show"><i class="fa  fa-search"></i></a>
		      </li>
		    -->
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
		          <i class="fa  fa-envelope"></i> <span class="label  label-danger  aw-label-corner">48</span>
		        </a>
		                  
		        <ul class="dropdown-menu">
		          <li><a href="javascript:;">Item 1</a></li>
		          <li><a href="javascript:;">Item 2</a></li>
		        </ul>
		      </li>
		      
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		          <i class="fa  fa-user"></i>
		          {{user.username|upper}}
		        </a>
		        
		        <ul class="dropdown-menu">
		          <li>
		            <div class="aw-logged-user">
		              <img src="https://api.adorable.io/avatars/80/joaodascouves" 
		                width="80" height="80" alt="João das Couves" class="aw-logged-user__picture" />
		              <span class="aw-logged-user__name">{{ user.username|upper }}</span>
		            </div>
		          </li>
		          <li role="separator" class="divider"></li>
		          <li><a href="#">Meu perfil</a></li>
		          <li><a href="#">Alterar senha</a></li>
		          <li><a href="#">Pagamentos</a></li>
		        </ul>
		      </li>
		      
		      <li>
		        <a href="{% url 'gestorbases:sair' %}"><em class="fa  fa-sign-out"></em></a>
		      </li> 
		    </ul>

		  </div>
		</nav>

		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

			    <nav class="aw-menu  js-menu">
			      <ul class="aw-menu__list">

			        <li class="aw-menu__item">
			          <a href="{% url 'gestorbases:dashboard' %}"><i class="fa fa-home"></i><span>Dashboard</span></a>
			        </li>

			        <li class="aw-menu__item  is-active">
			          <a href="#">
			            <i class="fa fa-save"></i><span>Cadastros</span>
			            <i class="aw-menu__navigation-icon  fa"></i>
			          </a>
			      
			          <ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link"><a href="{% url 'gestorbases:nova_base' %}">Novo Banco</a></li>
			            <li class="aw-menu__item  aw-menu__item--link"><a href="{% url 'gestorbases:nova_tabela' %}">Nova Tabela</a></li>
			          </ul>
			        </li>

			        <li class="aw-menu__item">
			          <a href="#">
			            <i class="fa fa-list"></i><span>Listagens</span>
			            <i class="aw-menu__navigation-icon  fa"></i>
			          </a>
			      
			          <ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link"><a href="{% url 'gestorbases:lista_bases' %}">Listar Bancos</a></li>
			            <li class="aw-menu__item  aw-menu__item--link"><a href="{% url 'gestorbases:lista_tabelas' %}">Listar Tabelas</a></li>
			            <li class="aw-menu__item  aw-menu__item--link"><a href="{% url 'gestorbases:lista_atualizacoes' %}">Listar Atualizações</a></li>
			          </ul>
			        </li>

			        <li class="aw-menu__item">
			          <a href="#">
			            <i class="fa fa-users"></i><span>Gestão de Usuários</span>
			            <i class="aw-menu__navigation-icon  fa"></i>
			          </a>
			      
			          <ul class="aw-menu__list  aw-menu__list--sublist">
			          	<li class="aw-menu__item  aw-menu__item--link"><a href="#">Meu perfil</a></li>
			          	<li class="aw-menu__item  aw-menu__item--link"><a href="#">Alterar Senha</a></li>
			            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Novo Usuário</a></li>
			            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Ver todos</a></li>
			          </ul>
							</li>
			      </ul>
			    </nav>

			</div>
		</aside>

		<section class="aw-layout-content  js-content">

			<div class="page-header">
				<div class="container-fluid">
					<h1 >
					{% block titulo_conteudo %}
					Titulo do conteúdo
					{% endblock %}
					</h1>       
				</div>
				{% block opcoes %}{% endblock %}
			</div>

			<div class="container-fluid">

		<!-- Bloco de conteúdo -->
    	{% block conteudo %}{% endblock %}
    	</section>
		
		{% block footer %}
		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; 2018 odp@cgegoias. Todos os direitos reservados.</span>
			</div>
		</footer>
		{% endblock %}

	</div>
	{% block modal %}
	<div class="aw-search-modal  js-search-modal">
		<form action="#" class="aw-search-modal__form">
			<input class="aw-search-modal__input  js-search-modal-input" type="text" placeholder="O que você está procurando?"/>
			<div class="aw-search-modal__input-icon">
				<i class="glyphicon  glyphicon-search  js-search-modal-go"></i>
			</div>
		</form>
		
		<div class="aw-search-modal__controls">
			<i class="glyphicon glyphicon-remove  js-search-modal-close"></i>
		</div>
	</div>
	{% endblock %}

	<!-- Arquivos necessários para o Bootstrap -->
	<script src="{% static 'gestorbases/assets/javascripts/vendors.min.js' %}"></script>


	<!-- Bloco de scripts -->
	{% block scripts %}{% endblock %}

	<!-- Scripts.js -->
	<script src="{% static 'gestorbases/assets/javascripts/algaworks.min.js' %}"></script>

	<!-- Arquivos necessários para o jquery
	<script src="{% static 'gestorbases/jquery-3.3.1.js' %}"></script>
	 -->
	
</body>
</html>