{% extends "gestorbases/_layouts/base.html" %}

{% load widget_tweaks %}


{% load static %}

{% block titulo_conteudo %}Lista de Bases {% endblock %}

{% block opcoes %}
    <div> <!-- class="text-right" -->
        <a href="{% url 'gestorbases:nova_base' %}" class="btn btn-primary">
          Nova Base
        </a>
        <a href="{% url 'gestorbases:lista_bases' %}" class="btn btn-primary">
          Lista bases
        </a>
    </div>
{% endblock %}


{% block conteudo %}

  <div class="container-fluid">
    <!--
    <div class="alert  alert-danger  alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
    </div>
  -->

    <form method="post" >
      <!-- Não se esqueça dessa tag -->
            {% csrf_token %}
      
      <div class="form-group">
        <label for="input-base-nome">Nome</label>
        {% render_field form.nome class+="form-control" %}
      </div>
      

      <div class="form-group">
        <label for="input-base-descricao">Descrição</label>
        {% render_field form.descricao class+="form-control" rows="2" %}
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="input-base-host">Host</label>
            {% render_field form.host class+="form-control" %}
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="form-group">
            <label for="input-base-owner">Owner</label>
            {% render_field form.owner class+="form-control" %}
          </div>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-base-origem">Origem dos dados</label>
            <input id="input-base-origem" type="text" class="form-control" placeholder="Origem dos dados"/>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-base-atualizacao">Ultima atualização</label>
            {% render_field form.atualizacao class+='form-control' %}
            
          </div>
        </div>
      </div>
      -->
      
      <div class="form-group">
        <button class="btn  btn-primary" type="submit">Salvar</button>
        <a href="#" class="btn  btn-default">Cancelar</a>
        <a href="#" class="btn  btn-link  aw-btn-link-danger" onclick="excluir()">Excluir este produto</a>
      </div>


    </form>
  </div>

  <script>
  function excluir() {
    swal({
      title: "Tem certeza?",
      text: "Você não poderá recuperar o produto após a exclusão.",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Sim, exclua agora!",
      closeOnConfirm: false,
      showLoaderOnConfirm: true
    }, function() {
      setTimeout(function() {
        swal("Excluído!", "O produto foi excluído com sucesso.", "success");
      }, 2000);
    });
  }
  </script>

{% endblock %}