{% extends "gestorbases/_layouts/base.html" %}

{% load widget_tweaks %}


{% load static %}

{% block titulo_conteudo %}Teste de listagem de tabelas {% endblock %}

{% block opcoes %}
    
{% endblock %}

{% block conteudo %}
	
    <div class="row-fluid">
        <form name="form1" id="form_search" method="GET" action="{% url 'gestorbases:teste2' %}" class="form-signin">
        
        <div class="col-lg-3">
            <input type="text" name="tabela" id="tabela" class="form-control" placeholder="tabela" autofocus>
        </div>
                
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
        </form><!-- /form -->
        <br>
    </div><!-- /card-container -->
    

    <div class="container-fluid">

        <div class="table-responsive">
            {% if tabelas|length > 0 %}
                <table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
                    <thead class="aw-table-header-dark"><!--thead-dark-->
                        <tr>
                            <th>Base</th>
                            <th>Tabela</th>
                            <th>Descrição</th>
                            <th>Esquema</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Excluir</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        {% for tabela in tabelas %}
                            <tr >
                                <td class="text-center">{{tabela.base}}</td>

                                <td>
                                    <a href="{% url 'gestorbases:atualiza_tabela' pk=tabela.id %}">{{tabela.nome}}</a>
                                </td>

                                <td >{{tabela.descricao}}</td>

                                <td class="text-right">{{tabela.esquema}}</td>


                                <td class="text-center">
                                    <a href="{% url 'gestorbases:atualiza_tabela' pk=tabela.id %}" class="btn btn-info btn-xs"><span class="fa fa-edit"></span>
                                    </a>
                                </td>

                                <td class="text-center">
                                    <!--<button type="button" class="btn btn-danger btn-xs">--> <!--onclick="excluir()"-->
                                        <a href="{% url 'gestorbases:exclui_tabela' pk=tabela.id %}" class="btn btn-danger btn-xs">
                                        <span class="fa fa-trash" ></span>
                                        </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                   <h5>Nenhuma <code>Base</code> cadastrada ainda.</h5>
                </div>
            {% endif %}
        </div>
        <div> <!-- class="text-right" -->
            <a href="{% url 'gestorbases:nova_base' %}" class="btn btn-primary">
            Nova Base
            </a>
        </div>
    </div>

{%  endblock%}

<!-- Bloco de scripts -->
{% block scripts %}
 <script>
    
    $("#tabela").keyup(function() {
        console.log($('#tabela').val());
        $('#form_search').submit(function(e){
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),

                success: function(data){
                    console.log(data);
                }

            })


            alert('form submited!!' + $(this).attr('action'));
        })
        /*
        $.ajax({
            var tabela = $('#tabela').val();
            alert( "Tabela: " + tabela );
            url : "{% url 'gestorbases:teste' %}",
            type : 'post',
            data : {
                tabela : tabela,
            },
          
        })
        */

    });
  </script>
<!--
    <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });

    });
  </script>
-->

{% endblock %}