{% extends "gestorbases/_layouts/base.html" %}

{% load widget_tweaks %}


{% load static %}

{% block titulo_conteudo %}Excluir Base {% endblock %}

{% block opcoes %}
    
{% endblock %}

{% block conteudo %}

    <div class="card" style="border: 1px solid #1E94D2;
        								border-radius: 5px;
        								padding: 2%; box-shadow: 5px 5px 8px #888888;">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;">Tem certeza que quer excluir esta base?</h5>
        <hr />
        <div class="form-group" style="border-radius: 5px;
        								padding: 2%;  ">
          <label for="input-base-nome">Nome</label>
          {{base.nome}}
          <br/>
          <label for="input-base-nome">Descrição</label>
          {{base.descricao}}
          <br/>
          <label for="input-base-nome">Host</label>
          {{base.host}}
          <br/>
          <label for="input-base-nome">Owner</label>
          {{base.owner}}
        </div>
      </div>

      <form method="post">
          {% csrf_token %}
          <hr />
          <div class="text-right">
            <a href="{% url 'gestorbases:lista_bases' %}" 
              class="btn btn-outline-danger">
                Cancelar
            </a>
            <button class="btn btn-danger">Excluir</button>
          </div>
        </form>
    </div>


<!-- 
    <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Exclusão de Funcionário</h5>

        <p class="card-text">
          Você tem certeza que quer excluir o funcionário 
          <b>{{ funcionario.nome }}</b>?
        </p>

        <form method="post">
          {% csrf_token %}

          <hr />
          <div class="text-right">
            <a href="{% url 'website:lista_funcionarios' %}" 
              class="btn btn-outline-danger">
                Cancelar
            </a>
            <button class="btn btn-danger">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  -->
{% endblock %}