{% extends "gestorbases/_layouts/base.html" %}

{% load widget_tweaks %}

{% load static %}

{% block titulo_conteudo %}Lista de Tabelas {% endblock %}

{% block opcoes %}
	
{% endblock %}

{% block conteudo %}			
	<div class="container-fluid">
		<div class="row">
			<form method="get" action="#">
		        <div class="col-sm-6">
			          <div class="form-group">
			            <input type="text" name="tabela" class="form-control xs ">
			          </div>
		        </div>
		        <div class="col-sm-6">
		        	<div class="form-group">
			            <input type="submit" value="buscar" class="btn btn-primary">
			         </div>
		        </div>
	        </form>
	    </div>
	    
		<div class="table-responsive">
			{% if tabelas|length > 0 %}
				<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<thead class="aw-table-header-dark"><!--thead-dark-->
						<tr>
							<th>Base</th>
							<th>Tabela</th>
							<th>Descrição</th>
							<th>Schema</th>
							<th class="text-center">Editar</th>
							<th class="text-center">Excluir</th>
						</tr>
					</thead>				  
					<tbody>
						{% for tabela in tabelas %}
							<tr >
								<td data-toggle="tooltip" data-placement="top" title={{tabela.base}}>
									<a href="#">{{tabela.base.id}}</a>
								</td>
								<td data-toggle='tooltip' data-placement='top' title='Registrar nova atualização'>
									<a href="{% url 'gestorbases:nova_atualizacao2' pk=tabela.id tab_nome=tabela.nome %}">{{tabela.nome}}</a>
								</td>

								<td class="text-left">{{tabela.descricao}}</td>

								<td class="text-center">{{tabela.esquema}}</td>

								<td class="text-center">
									<a href="{% url 'gestorbases:atualiza_tabela' pk=tabela.id %}" class="btn btn-info btn-xs"><span class="fa fa-edit"></span>
							        </a>
							    </td>
							    <td class="text-center">
							    	<form>
									<!--<button type="button" class="btn btn-danger btn-xs"> onclick="excluir()"-->
										<a href="{% url 'gestorbases:exclui_tabela' pk=tabela.id %}" class="btn btn-danger btn-xs">
										<span class="fa fa-trash" ></span>
										</a>
									</form>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			{% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                   <h5>Nenhuma <code>Tabela</code> encontrada.</h5>
                </div>
            {% endif %}
		</div>
		<hr style="margin-top: : 0px">

		<div class="row">
			<!-- CONTROLES DE NAVEGAÇÃO -->
			<div class="col-sm-9 col-md-9 col-lg-8">
				<ul class="pagination">
					{% for pagina in tabelas.paginator.page_range %}
						
						<li class="{% if  pagina  ==  tabelas.number  %}active{% endif %}" ><a href="?page={{pagina}}">{{pagina}}</a></li>
					{% endfor %}
				
				</ul>
			</div>

			<div class="col-sm-3 col-md-3 col-lg-4 text-right">
				<div> <!-- class="text-right" -->
			        <a href="{% url 'gestorbases:nova_tabela' %}" class="btn btn-primary">
			          Nova Tabela
			        </a>
		    	</div>
	    	</div>

    	</div>

	</div>
{% endblock %}
